venv
deps
.terraform
lambda_function.zip
.DS_Store
.secrets
.terraform.lock.hcl
*.env
terraform.tfvars
.vars
__pycache__
connectors/__pycache__
interface/__pycache__

# Logs
logs
*.log

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
